:root {
    --bg-button: black;
    --border-button: solid 1px gray;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    color: white;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: gray;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: white;
    color: black;
    font-weight: bold;
}

.button.operation:active {
    background-color: black;
    color: white
}