@font-face {
    font-family: 'RobotoMono';
    src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'RobotoMono';
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(rgb(117, 54, 3), black, rgb(117, 54, 3));
    text-align: center;
    color: white;
}